{% if sensor_list %}
    <ul>
    {% for sensor in sensor_list %}
      <h1> {{ sensor.name }} </h1>
        <li>
            Temperature -
            <a href="{% url 'weather:temperature_detail' sensor.id %}">Table</a> -
            <a href="{% url 'weather:temperature_chart' sensor.id %}">Chart</a>
        </li>
        <li>
            Humidity -
            <a href="{% url 'weather:humidity_detail' sensor.id %}">Table</a> -
            <a href="{% url 'weather:humidity_chart' sensor.id %}">Chart</a>
        </li>
    {% endfor %}
    </ul>
{% else %}
    <p>No data.</p>
{% endif %}
